body {
    /* background-color: rgb(61, 76, 97); */
    background-image: url(/public/img/OIP.jpeg);
    
}

h1 {
    text-align: center;
    color: rgb(49, 42, 42);
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: rgb(38, 107, 11);
    text-transform: uppercase;
}

/* seleccion mediante etiqueta */
/* p{
    color: green;
} */

#parrafo1 {
    color: yellow;
    font-size: 30px;
    
}

#parrafo2 {
    color: aqua;

}

#parrafo3{
    color: blueviolet;
}
.trasformar-texto-en-mayuscula{
    text-transform: uppercase;
}





